body{
	/* margin:10px;
	padding:30px; */
  font-size:150%;
  background-image: url("../images/black_and_white.jpg");
  /* font-family: -apple-system, sans-serif; */
  font-family: Georgia, serif;
}

h1{
  font-size: 60px; 
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
}

.nav_links {
  background-color: #f7c2c2;

  border: 2px solid #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  justify-items: center;
}

p{
  margin:10px;
	padding:30px;
}

nav{
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  padding-top:30px;
  padding-left:30px;
  padding-right:30px;
}

.nav_links a:hover{
  font-weight: bolder;
}

.nav_links .current{
  font-weight: bolder;
  background-color: #f5758a;
  text-transform: uppercase;
  /* text-decoration: wavy underline; */
}

main img{
  margin: auto;
  display: block;
}

.nav_links .nav_items{
  color: #000000;
}

p{
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  line-height: 1.4;
}

.container{
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
}

.flip-container{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  margin: auto;
  display: block;
}

.item1{
  /* grid-row: 1/5; */
  text-align: center;
}

.controls{
  display:none;
}

main{
  min-height: 80vh;
}

footer{
  padding-top: 30px;
  margin-top: 20px;
  background:#f5758a;
  width: 100%;
  border-radius: 25px;
}

.item img{
  height: auto;
  width: 300px;
  border: 3px solid #000000;
  padding: 10px;
  border-radius: 10px;
  padding: 5px;
  
  /* margin: auto;
  display: block; */
}

.item{
  width: 100%;
}

.flip-box-front img{
  /* height: 400px; */
  width: auto;
  border: 3px solid #000000;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  display: block;
}

img{
  height: 400px;
  width: auto;
  border: 3px solid #000000;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.skip{
  background: #ffffff;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
  }
  
.skip:focus {
  position: absolute;
  top: 20px
}
  
.nav_links :visited{
  color: #000000;
}

a:visited{
  color: #0000ff;
}

.flip-box {
  background-color: transparent;
  width: auto;
  /* height: 400px; */
  /* margin: auto; */
  display: block;
}

.flip-container h2{
  font-size: 40px;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  font-weight: bolder;
  color:#000000;
  text-align: center;
}

.flip-container p{
  font-size: 18px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-right: 30px;
  padding-left: 10px; */
  text-align: center;
}

.flip-box-back a{
  font-size: 16px;
  /* padding-right: 30px;
  padding-left: 10px; */
  padding-bottom: 50px;
  text-align: center;
  align-content: center;
  margin: auto;
  display: block;
  overflow: hidden;
}

form {
  border: 3px solid #000000;
  padding: 15px;
  margin: auto;
  background: #f7c2c2;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	width: 85%;
}

legend{ 
  font-weight: bolder;
  font-size: 30px;
  text-decoration: wavy underline;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
}

label{
  font-weight: bolder;
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  padding-left: 5px;
  font-size: 25px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-size: 22px;
  border-radius: 25px;
}
span{
  padding-left: 5px;
  font-size: 20px;
}

textarea{
  width: 100%;
  height: 30vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-size: 22px;
  border-radius: 25px;
}

input[type=checkbox]{
  display:inline;
  width:inherit;
}

input[type=submit] {
  background-color: #f5758a;
  color: #000000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  border-radius: 25px;
}

input[type=submit]:hover {
  opacity: 0.8;
  box-shadow: 0 8px #666666;
  transform: translateY(4px);
}

@-webkit-keyframes grow{
  from {width: 50px; opacity: 0;}
  to {width: 300px; opacity: 1;}
}

@keyframes grow{
  from {width: 50px; opacity: 0;}
  to {width: 300px; opacity: 1;}
}

.item img{
  animation-name: grow;
  animation-duration: 4s;
  animation-iteration-count: initial;
}

@media screen and (min-width: 768px){

  .flip-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .flip-container > div:not(:first-child) p {
    position: relative;
  }

  .flip-box img{
    height: auto;
    width: 350px;
    border: 3px solid #000000;
    padding: 10px;
    border-radius: 10px;
    justify-items: center;
  }

  .flip-box-back{
    padding-right: 20px;
    padding-left: 20px;
  }

  .flip-container p{
    font-size: 18px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .flip-container h2{
    font-size: 28px;
    padding-top: 10px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
  }
  
  .flip-container a{
    font-size: 14px;
    width: 80%;
  }

  .nav_links {
    flex-direction: row;
  }

  p{
    padding-top: 5px;
    padding-bottom: 35px;
  }

  .item p{
    margin: 0 auto;
    padding-bottom: 0px;
    vertical-align: middle;
    text-align: left;
    font-size: 22px;
  }

  .item1 p{
    padding-bottom: 20px;
    text-align: center;
  }

  .contain{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px
  }

  .contain img{
    padding-right: 5px;
  }

  .contain p{
    align-self: center;
    padding-left: 10px;
    font-size: 22px;
  }

  .container > div:not(:first-child) p {
    position: relative;
  }

  header {
    margin-bottom: 15px;
  }

  .controls{
    padding-top: 6px;
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    height: 20px;
    padding-bottom: 40px;
    justify-content: space-evenly;
  }

  button{
    display: inline-block;
    padding: 5px 8px 28px 8px;
    background: #f7c2c2;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
    /* padding-bottom: 30px; */
    border-color: #000000;
    font-family: Georgia, serif;
  }

  .showMix{
    display: block;
  }

  .hideMix{
    display: none;
  }

  button.active{
    background: #f5758a;
  }

}

@media screen and (min-width: 1400px){

  .controls{
    padding-bottom: 30px;
  }

  p.test{
    /* padding-top: 45px;
    padding-bottom: 50px; */
    margin-top:120px;
    margin-bottom: 10px;;
  }

  .Ellie{
    background-color: #ffffff;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 450px;
    vertical-align: middle;
    display: table;
    margin: 0 auto;
    margin-top: 175px;
  }

  .flip-box img{
    height: auto;
    width: 500px;
    border: 3px solid #000000;
    padding: 10px;
    border-radius: 10px;
  }
  
  .flip-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }

  .flip-box-inner {
    position: relative;
    width: 400px;
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
   
  .vrotate {
    transform: rotateY(180deg);
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
    
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 400px;
    height: 400px;
    backface-visibility: hidden;
  }

  .flip-box{
    width: fit-content;
    padding:5px;
  }
  
  .flip-box-back h2{
    flex-wrap:wrap;
    font-size: 35px;
    padding: 15px 6px;
    font-weight: bolder;
    color:#000000;
  }
    
  .flip-box-back p{
    font-size: 24px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 10px;
  }
  
  .flip-box-back a{
    font-size: 18px;
    padding-right: 30px;
    padding-left: 10px;
  }
  
  .flip-box-back {
    background-color: #f7c2c2;
    color: #000000;
    transform: rotateY(180deg);
  }

  header {
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: #000000;
    height: 500px; 
    background-image: url("../images/smoothie.jpeg");
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }

  header.noParallax {
    background-image: none;
    height: 80px; 
  }

  .contain{
    display: initial;
  }

  .container{
    grid-template-columns: 1fr 1fr;
  }

  .item p{
    font-size: 21px;
  }

  .space{
    padding-top:50px;
  }

  .item1{
    grid-template-columns: 1fr;
    grid-column: 1/-1;
    grid-row: 1;
  }

  .contain p{
    padding-top: 15px;
    padding-bottom: 50px;
    width: 95%;
    text-align: center;
  }

  nav.forms{
    margin-bottom: 40px;
  }

  form{
    padding-top: 95px;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  .item img {
    animation: none;
  }

  .flip-box:hover .flip-box-inner {
    transform: none;
  }

  header {
    background-attachment: scroll; 
  }

}